:root {
    --electric-yellow: #F8D030;
    --ground-brown: #ff2a00;
    --normal-gray: #D6D6D6;
    --water-blue: #96D9D6;
    --background-dark: #2D2D2D;
    --text-light: #FFFFFF;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--electric-yellow);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--ground-brown);
    background-color: var(--normal-gray);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--ground-brown);
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: var(--water-blue);
}

.character-card {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
    margin: 20px auto 0;
}

.character-card h2 {
    margin-top: 0;
    color: var(--ground-brown);
}

.character-card img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid var(--ground-brown);
}


.character-card ol {
    max-height: 200px;
    overflow-y: auto;
    padding-left: 30px;
    text-align: left;
}
